<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <title>500</title>
  </head>
  <body>
    <%- include("../includes/header") %> <%- include('../includes/aside')%>
    <main>
      <h1>Oops, something went wrong!</h1>
      <p>
        Unfortunately, something went wrong on our end - we're working on fixing
        it!
      </p>
    </main>
    <%- include("../includes/footer") %>
  </body>
</html>
