<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../includes/head") %>
    <link rel="stylesheet" href="/styles/shop.css" />
    <title>상점</title>
  </head>
  <body>
    <%- include("../includes/header") %> <%- include('../includes/aside')%>
    <main>
      <div id="store-container">
        <div class="product-item">
          <div class="product-image">
            <img src="/images/store/powerhouse_logo_Tshirt.jpg" alt="" />
          </div>
          <p class="product-name">
            파워하우스 투톤 로고 오버핏 티셔츠
            <br />
            (블랙)
          </p>
          <p class="product-price">59,000원</p>
        </div>
        <div class="product-item">
          <div class="product-image">
            <img src="/images/store/powerhouse_logo_Tshirt.jpg" alt="" />
          </div>
          <p class="product-name">
            파워하우스 투톤 로고 오버핏 티셔츠
            <br />
            (블랙)
          </p>
          <p class="product-price">59,000원</p>
        </div>
        <div class="product-item">
          <div class="product-image">
            <img src="/images/store/powerhouse_logo_Tshirt.jpg" alt="" />
          </div>
          <p class="product-name">
            파워하우스 투톤 로고 오버핏 티셔츠
            <br />
            (블랙)
          </p>
          <p class="product-price">59,000원</p>
        </div>
        <div class="product-item">
          <div class="product-image">
            <img src="/images/store/powerhouse_logo_Tshirt.jpg" alt="" />
          </div>
          <p class="product-name">
            파워하우스 투톤 로고 오버핏 티셔츠
            <br />
            (블랙)
          </p>
          <p class="product-price">59,000원</p>
        </div>
      </div>
    </main>

    <%- include("../includes/footer") %>
  </body>
</html>
