h2 {
  font-size: 2rem;
  color: rgb(240, 240, 240);
  margin: 0;
  margin-block: 4rem 2rem;
}

.cart-item {
  width: 60rem;
  margin: auto;
  display: flex;
  align-items: center;
  border: 1px solid rgb(63, 63, 63);
}

.product-img,
.product-img img {
  width: 10rem;
  height: 10rem;
}

.product-img img {
  margin: auto;
  object-fit: cover;
}

.product-detail {
  width: 50rem;
  height: 10rem;
  background-color: rgb(240, 240, 240);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
}

.product-name,
.product-color,
.product-amount,
.product-price,
.delete-btn,
.amount {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.product-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.amount {
  margin-right: 0.5rem;
}

.product-amount {
  margin-inline: 0.5rem;
  width: 5rem;
  text-align: center;
  background-color: rgb(240, 240, 240);
  border: 0.5px solid rgb(63, 63, 63);
}

.minus-btn,
.plus-btn {
  width: 1.5rem;
  height: 1.5rem;
  border: 0.5px solid rgb(63, 63, 63);
  margin: 0;
  font-size: 1rem;
  font-family: inherit;
}

.product-price {
  /* margin-top: 1rem; */
  font-weight: 800;
}

.delete-btn,
#purchase-btn {
  font-size: 1rem;
  font-weight: 800;
  background-color: rgb(240, 240, 240);
  border: none;
  color: rgb(152, 41, 50);
}

#total {
  width: 60rem;
  height: 10rem;
  background-color: rgb(240, 240, 240);
  margin: auto;
  border: 1px solid rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  padding-right: 2rem;
}

#total-amount,
#total-price {
  font-size: 1rem;
  font-weight: 800;
  margin: 0;
}

#total-price {
  margin-bottom: 1rem;
}

#purchase-btn {
  background-color: rgb(152, 41, 50);
  color: rgb(240, 240, 240);
  border: 1px solid rgb(152, 41, 50);
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

#empty-cart {
  color: rgb(240, 240, 240);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}

@media (max-width: 60rem) {
  .cart-item,
  #total {
    width: 100%;
  }

  .product-name,
  .product-color,
  .product-amount,
  .product-price,
  .delete-btn,
  .amount {
    font-size: 0.9rem;
  }
}
