main {
  height: 100vh;
}

h2 {
  margin-top: 20vh;
}

#form-container {
  margin: 0 auto 5rem auto;
  width: 40rem;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 700;
  margin-block: 2rem 0.5rem;
  color: rgb(240, 240, 240);
}

#username,
#name {
  width: 30rem;
  padding: 1rem;
  font-size: 1rem;
  color: rgb(240, 240, 240);
  background-color: rgb(63, 63, 63);
  border: 1px solid rgb(63, 63, 63);
  border-radius: 4px;
  display: block;
  margin: auto;

  transition: width 0.5s ease-in-out;
}

#username:focus,
#name:focus {
  border: none;
  outline: 2px solid rgb(152, 41, 50);
}

#username::placeholder,
#name::placeholder {
  color: rgb(240, 240, 240);
  font-family: inherit;
  font-size: 1rem;
}

#username:-webkit-autofill,
#name:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(63, 63, 63) inset !important;
  -webkit-text-fill-color: rgb(240, 240, 240) !important;
}

#caution {
  margin-top: 0.5rem;
  color: rgb(152, 41, 50);
  text-align: center;
}

#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

#cancel,
#save-btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1.2rem;
}

#cancel {
  text-decoration: none;
  background-color: rgb(63, 63, 63);
  color: rgb(240, 240, 240);
  border: 1px solid rgb(63, 63, 63);
  border-radius: 4px;
  margin-right: 1rem;
}

#save-btn {
  background-color: rgb(240, 240, 240);
  color: rgb(63, 63, 63);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
}

#cancel:hover,
#save-btn:hover {
  font-weight: 900;
  cursor: pointer;
  background-color: rgb(152, 41, 50);
  color: white;
  border: 1px solid rgb(152, 41, 50);
}

@media (max-width: 40rem) {
  #form-container {
    width: 100%;
  }

  input {
    width: 80%;
  }
}
