body {
  background-color: rgb(15, 15, 15);
}

#main-header,
#logo-div {
  border-block: 0.5px solid rgb(240, 240, 240);
}

#caution-container {
  width: 50rem;
  margin: 4rem auto;
  /* border: 1px solid rgb(0, 0, 0, 0.5); */
  border: 1px solid rgb(63, 63, 63);
  border-radius: 1rem;
}

.caution {
  /* color: rgb(0, 0, 0, 0.5); */
  color: rgb(152, 41, 50);
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.caution:first-child {
  margin-block: 1rem;
}

.caution:last-child {
  margin-bottom: 1rem;
}

#post-container {
  width: 50rem;
  margin: 0 auto;
  border-radius: 4px;
}

.post-items {
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 1rem;
}

.post-detail {
  font-size: 1rem;
  padding: 0 4rem;
  color: rgb(240, 240, 240);
}

.post-time {
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.content {
  color: rgb(240, 240, 240);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 4rem;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box; /* Flexbox와 유사한 레이아웃 */
  -webkit-line-clamp: 4; /* 최대 4줄까지 표시 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
}

.toggle-btn {
  padding: 0 4rem;
  border: none;
  color: rgb(63, 63, 63);
  background: none;
  cursor: pointer;
}

.toggle-btn:hover {
  color: rgb(152, 41, 50);
}

.carousel {
  width: 47rem;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(152, 41, 50);
}

.carousel-item {
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-inner {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 40rem;
  margin: 1rem auto 2rem auto;
  border-radius: 1rem;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("/images/black-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

#gotoadd {
  margin: 4rem 0;
  text-align: center;
}

#gotoadd a {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgb(240, 240, 240);
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.8rem 3rem;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
}

#gotoadd a:hover {
  background-color: rgb(152, 41, 50);
  border: 2px solid rgb(152, 41, 50);
  color: rgb(240, 240, 240);
  /* transform: translateY(-2px); */
  /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8); */
}

/* #gotoadd a:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
} */

@media (max-width: 50rem) {
  #caution-container,
  #post-container {
    width: 100%;
  }
}
