#caution-container {
  width: 50rem;
  margin: 4rem auto;
  border: 1px solid rgb(0, 0, 0, 0.5);
  border-radius: 4px;
}

.caution {
  color: rgb(0, 0, 0, 0.5);
  text-align: start;
  margin-left: 1rem;
  margin-bottom: 0.3rem;
}

.caution:first-child {
  margin-block: 1rem;
}

.caution:last-child {
  margin-bottom: 1rem;
}

#post-container {
  width: 50rem;
  margin: 0 auto;
  border-radius: 4px;
}

.post-items {
  padding: 1rem;
  margin: 2rem auto;
  border: 1.5px solid rgb(0, 0, 0, 0.5);
  border-radius: 1rem;
}

.post-detail {
  font-size: 1rem;
}

.post-time {
  color: rgb(0, 0, 0, 0.5);
  margin-left: 1.5rem;
}

.content {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.carousel {
  width: 47rem;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(152, 41, 50);
}

.carousel-item {
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-inner {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 40rem;
  margin: 2rem auto;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("/images/black-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
}

.carousel-control-prev-icon {
  transform: rotate(180deg); /* 왼쪽 화살표로 회전 */
}

#gotoadd {
  margin: 4rem 0;
  text-align: center;
}

#gotoadd a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  background-color: black;
  border: 2px solid black;
  border-radius: 4px;
  padding: 0.8rem 3rem;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
}

#gotoadd a:hover {
  background-color: rgb(152, 41, 50);
  border: 2px solid rgb(152, 41, 50);
  color: white;
  /* transform: translateY(-2px); */
  /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8); */
}

/* #gotoadd a:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
} */

@media (max-width: 50rem) {
  #caution-container,
  #post-container {
    width: 100%;
  }
}
