@font-face {
  font-family: 'KORAIL';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/KORAIL.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

main div {
  padding: 10rem 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-h1 {
  font-weight: 900;
  text-align: center;
  font-size: 5rem;
  color: rgb(240, 240, 240);
  margin: 0;
}

#h1-1 {
  margin-bottom: 1rem;
}

#h1-2 {
  font-family: "KORAIL";
  font-size: 3rem;
  color: rgb(152, 41, 50);
}

footer {
  margin: 0;
}

@media (max-width: 90rem) {
  #h1-1 {
    font-size: 2rem;
  }

  #h1-2 {
    font-size: 1.5rem;
  }
}
