#form-div {
  width: 25rem;
  margin: 0 auto;
}

/* ✅플렉스 컨테이너 */
.flex-container {
  margin: auto;
  margin-bottom: 2rem;
  width: 25rem;
  text-align: left;
}

/* ✅필수 표시 */
.required {
  color: rgb(152, 41, 50);
}

.form-label {
  display: block;
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0.1rem;
}

/* ✅입력 필드 스타일 */
.form-input {
  padding: 1rem;
  font-size: 1.2rem;
  width: 25rem;
  border: 1px solid black;
  border-radius: 4px;
}

.form-input:focus {
  outline: 2px solid rgb(152, 41, 50);
}

/* ✅경고 및 주의 사항 */
.caution {
  margin-top: 0.8rem;
  margin-left: 0.1rem;
  color: rgba(0, 0, 0, 0.5);
}

.red-caution {
  margin-top: 0.5rem;
  margin-left: 0.1rem;
  color: red;
}

#userIdWarning,
#userPwWarning,
#userPwCheckWarning,
#userNameWarning {
  display: none;
}

#send-code-btn {
    background-color: white;    
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
}

#send-code-btn:hover {
    border: 1px solid rgb(152, 41, 50);
    color: rgb(152, 41, 50);
}

/* ✅버튼 스타일 */
#join-btn {
  background-color: black;
  color: white;
  margin: auto;
  margin-top: 2rem;
  padding: 1rem 2rem;
  width: 25rem;
  font-size: 1.2rem;
  border: 2px solid black;
  border-radius: 4px;
}

#join-btn:hover {
  background-color: rgb(152, 41, 50);
  border-color: rgb(152, 41, 50);
}

#join-btn:active {
  transform: translateY(2px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
