#form-div {
  width: 25rem;
  margin: 0 auto;
}

.form-label {
  display: block;
  font-size: 1.2rem;
  margin: 0 0 0.8rem 0.1rem;
}

.form-input {
  font-size: 1.2rem;
  width: 25rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 4px;
}

.form-input:focus {
  outline: 2px solid rgb(152, 41, 50);
}

#user_pw_label {
  margin-top: 2rem;
}

.caution {
  color: red;
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0.1rem;
}

#login-btn {
  display: block;
  background-color: black;
  color: white;
  padding: 0.5rem 2rem;
  margin-top: 2rem;
  width: 25rem;
  height: 3.5rem;
  font-size: 1.5rem;
  border: 2px solid black;
  border-radius: 4px;
}

#login-btn:hover {
  cursor: pointer;
  background-color: rgb(152, 41, 50);
  border-color: rgb(152, 41, 50);
}

#items-div {
  margin-top: 1rem;
  text-align: center;
}

.items {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.4);
}

.items:hover {
  color: rgb(152, 41, 50);
  font-weight: bolder;
}

#gotojoin {
  color: rgba(0, 0, 0, 0.65);
}

#gotojoin:hover {
  color: rgb(152, 41, 50);
  font-weight: bolder;
}

span {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.1);
  padding-inline: 1rem;
}
