#high-container {
  width: 50rem;
  height: 20rem;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(63, 63, 63);
  border: 90%;
  margin: auto;
}

#high-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 4rem;
}

#profile-img-container {
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(63, 63, 63);
  border-radius: 100%;
  width: 11rem;
  height: 11rem;
  overflow: hidden;
  box-sizing: border-box;
}

#profile-img-container img {
  display: block;
  width: 11rem;
  height: 11rem;
  object-fit: cover;
}

#high-left-container form input {
  display: none;
}

#save-profile-btn {
  font-size: 0.8rem;
  margin-top: 1rem;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  font-weight: 700;
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}

#save-profile-btn:hover {
  color: rgb(152, 41, 50);
  font-weight: 900;
}

#change-profile-img {
  cursor: pointer;
  display: block;
  font-size: 0.8rem;
  font-weight: 700;
  margin-top: 1rem;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}

#change-profile-img:hover {
  color: rgb(152, 41, 50);
  font-weight: 900;
}

#high-right-container {
  height: 15rem;
}

#profile-username {
  margin-top: 0.8rem;
  color: rgb(240, 240, 240);
  font-size: 2.5rem;
  font-weight: 700;
  transition: font-size 0.5s ease-in-out;
}

#profile-name {
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  font-weight: 500;
  margin-left: 0.2rem;
}

#profile-body {
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

#low-container {
  margin: 3rem auto;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 1rem;
  width: 50rem;
}

.low-items-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(63, 63, 63);
}

.low-items-container:last-child {
  border: none;
}

.title {
  width: 10rem;
  margin: 0;
  padding-block: 1.5rem;
  border-right: 2px solid rgb(63, 63, 63);
  text-align: center;
  color: rgb(240, 240, 240);
}

.itmes {
  width: 35rem;
  margin: 0.7rem auto;
  text-align: center;
  padding-block: 1.5rem;
  color: rgb(240, 240, 240);
}

.change-btn {
  text-decoration: none;
  cursor: pointer;
  display: block;
  text-align: center;
  box-sizing: border-box;
  width: 5rem;
  color: rgb(240, 240, 240);
  padding-block: 1.5rem;
  border-left: 2px solid rgb(63, 63, 63);
  font-size: 1rem;
}

.change-btn:hover {
  color: rgb(152, 41, 50);
  font-weight: bold;
}

#high-left-container,
#high-right-container {
  transition: margin 0.5s ease-in-out;
}

#post-container {
  width: 50rem;
  margin: 0 auto;
  border-radius: 4px;
}

.post-items {
  padding: 1rem;
  margin: 2rem auto;
  border: 1px solid rgb(63, 63, 63);
  border-radius: 1rem;
}

.title-container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin-bottom: 1rem;
}

.post-author-profile {
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 1rem;
}

.post-author-profile img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.post-detail {
  font-size: 1rem;
  margin: 0;
  color: rgb(240, 240, 240);
}

.post-time {
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
  margin-left: 1.5rem;
}

.content {
  color: rgb(240, 240, 240);
  font-size: 1rem;
  margin-bottom: 0.5rem;
  padding: 0 4rem;
  overflow: hidden;
  text-overflow: ellipsis;

  display: -webkit-box; /* Flexbox와 유사한 레이아웃 */
  -webkit-line-clamp: 4; /* 최대 4줄까지 표시 */
  -webkit-box-orient: vertical; /* 수직 방향으로 정렬 */
}

.toggle-btn {
  padding: 0 4rem;
  border: none;
  color: rgb(63, 63, 63);
  background: none;
  cursor: pointer;
}

.toggle-btn:hover {
  color: rgb(152, 41, 50);
}

.carousel {
  width: 47rem;
  margin: auto;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(152, 41, 50);
}

.carousel-item {
  overflow: hidden;
  border-radius: 1rem;
}

.carousel-inner {
  display: flex;
  align-items: center;
  width: 40rem;
  height: 40rem;
  margin: 1rem auto 2rem auto;
  border-radius: 1rem;
}

.carousel-item img {
  object-fit: cover;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: url("/images/black-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2.5rem;
  height: 2.5rem;
}

.carousel-control-prev-icon {
  transform: rotate(180deg);
}

.post-detail-container {
  display: flex;
  align-items: center;
  padding-inline: 4rem;
}

.icon-container,
.number-of-likes-container {
  margin-inline: 0.5rem;
}

.number-of-likes-container,
.number-of-comments-container {
  margin: 0;
}

.number-of-likes,
.number-of-comments {
  color: rgb(240, 240, 240);
  margin: 0;
}

.icon-container img {
  width: 1.5rem;
  height: 1.5rem;
}

.hate-icon {
  transform: rotate(180deg);
  margin-inline: 1rem;
}

.comment-icon {
  margin-left: 1rem;
}

#payments-container {
  width: 50rem;
  margin: auto;
}

#payments-container h3 {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: 700;
  color: rgb(152, 41, 50);
}

.payment {
  margin-bottom: 2rem;
  border: 2px solid rgb(63, 63, 63);
  border-radius: 1rem;
  overflow: hidden;
}

.payment-date {
  color: rgb(240, 240, 240);
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1rem;
  margin: 0;
  border-bottom: 2px solid rgb(63, 63, 63);
}

.product {
  width: 50rem;
  display: flex;
  justify-content: baseline;
  align-items: center;
  border-bottom: 1px solid rgb(63, 63, 63);
}
/* 
.product.last-product {
  border-bottom: none;
} */

.product-img {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}

.product-img img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.product-detail {
  margin-left: 1rem;
}

.product-description {
  color: rgb(240, 240, 240);
  font-size: 1rem;
  font-weight: 700;
  margin: 0;
}

.total {
  color: rgb(240, 240, 240);  
  font-size: 1rem;
  font-weight: 600;
  margin: 0.7rem auto;
  text-align: center;
}

.caution {
  color: rgb(240, 240, 240);
  margin: 1rem auto;
}

@media (max-width: 50rem) {
  #high-container {
    width: 100%;
  }
  #high-left-container {
    margin-left: 1rem;
  }
  #high-right-container {
    margin-right: 1rem;
  }

  #low-container {
    width: 100%;
  }

  .title {
    width: 30%;
  }

  .itmes {
    width: 100%;
  }

  .change-btn {
    width: 3 0%;
  }

  #post-container {
    width: 100%;
  }

  .carousel {
    width: 40rem;
  }

  .carousel-inner,
  .carousel-item {
    width: 35rem;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
  }

  #payments-container {
    width: 100%;
  }
}

@media (max-width: 40rem) {
  .carousel {
    width: 30rem;
  }

  .carousel-inner,
  .carousel-item {
    width: 25rem;
    height: 25rem;
  }

  .carousel-item img {
    width: 100%;
    height: 100%;
  }
}
