h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(152, 41, 50);
    font-weight: bold;
    margin: 4rem;
}

hr {
  border: 1px solid black;
  margin-bottom: 4rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 4rem;
}

.gyms-container {
  border: 2.5px solid black;
  border-radius: 4px;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  width: 27rem;
  height: 8.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#gotodetail {
  text-decoration: none;
  color: black;
  font-size: 1.6rem;
  font-weight: 500;
}

#gotodetail:hover {
  color: rgb(152, 41, 50);
  font-weight: bolder;
}

.gyms-item {
  margin: 0.3rem 0;
  font-size: 1.2rem;
  color: rgb(152, 41, 50);
  font-weight: 500;
}

span {
  color: black;
}

#delete-div {
  margin-top: 1rem;
}

.delete-btn {
  text-decoration: none;
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
  background-color: white;
  border: none;
}

.delete-btn:hover {
  color: rgb(152, 41, 50);
  font-weight: bolder;
}

#gotoadd {
  margin: 4rem 0;
  text-align: center;
}

#gotoadd a {
  text-decoration: none;
  font-size: 1.2rem;
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 4px;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
  padding: 0.8rem 3rem;
}

#gotoadd a:hover {
  background-color: rgb(152, 41, 50);
  border: 1px solid rgb(152, 41, 50);
  color: white;
  /* transform: translateY(-2px); */
  /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8); */
}

/* #gotoadd a:active {
  transform: translateY(2px); 
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
} */

#delete-check-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#delete-check-container {
  margin: auto;
  width: 24rem;
  height: 12rem;
  align-items: center;
  border: 2.5px solid rgb(152, 41, 50);
  border-radius: 4px;
  background-color: white;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#delete-text {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

#cancel-btn {
  color: black;
  background-color: white;
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  border: 2px solid rgb(152, 41, 50);
  border-radius: 4px;
  /* box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5); */
}

#cancel-btn:hover {
  background-color: rgb(152, 41, 50);
  color: white;
  /* transform: translateY(-2px); */
  /* box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.8); */
}

/* .btn:active {
  transform: translateY(2px); 
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2); 
} */

#confirm-delete-btn {
  font-size: 1.2rem;
  padding: 0.5rem 2rem;
  background-color: rgb(152, 41, 50);
  border: 2px solid rgb(152, 41, 50);
  border-radius: 4px;
  color: white;
}

#confirm-delete-btn:hover {
  background-color: white;
  color: black;
}

@media (max-width: 100rem) {
  #grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media (max-width: 60rem) {
  #grid-container {
    grid-template-columns: 1fr; 
  }
}
